// Link Card Styles
a.card-link
  display: block
  background: var(--license-block-bg)
  position: relative
  margin: 0.5rem 0
  padding: 1.1rem 1.5rem
  color: var(--tw-prose-body)
  border-radius: var(--radius-large)
  text-decoration-thickness: 0px
  text-decoration-line: none
  overflow: hidden

  &:hover
    background-color: var(--btn-regular-bg-hover)

    .lc-titlebar
      color: var(--btn-content)

    .lc-card-title, .lc-description
      color: var(--tw-prose-headings)

    .lc-external-icon
      opacity: 1

      &:before
        background-color: var(--tw-prose-headings)

  &:active
    scale: .98
    background-color: var(--btn-regular-bg-active)

  .lc-titlebar
    display: flex
    align-items: center
    justify-content: space-between
    gap: 1rem
    margin-bottom: 0.5rem
    color: var(--tw-prose-headings)
    font-size: 1.25rem
    font-weight: 500

    .lc-titlebar-left
      display: flex
      align-items: center
      min-width: 0

    .lc-site
      display: flex
      align-items: center
      gap: 0.5rem
      min-width: 0

    .lc-favicon
      display: block
      overflow: hidden
      width: 1.75rem
      height: 1.5rem
      margin-top: -0.1rem
      background-color: transparent
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      border-radius: 0.4rem
      flex-shrink: 0

    .lc-domain
      min-width: 0
      color: inherit
      font-weight: 300
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .lc-external-icon
      display: inline-flex
      align-items: center
      justify-content: center
      width: 1.3em
      height: 1.3em
      flex-shrink: 0
      font-size: 1.25rem
      font-weight: 500
      opacity: 0.9

      &:before
        content: ' '
        display: inline-block
        height: 1.3em
        width: 1.3em
        background-color: var(--tw-prose-headings)
        overflow: visible
        mask-size: contain
        mask-position: center
        mask-repeat: no-repeat
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 16 16'%3E%3Cpath d='M3.75 2A1.75 1.75 0 0 0 2 3.75v8.5C2 13.216 2.784 14 3.75 14h8.5A1.75 1.75 0 0 0 14 12.25v-3.5a.75.75 0 0 0-1.5 0v3.5a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25v-8.5a.25.25 0 0 1 .25-.25h3.5a.75.75 0 0 0 0-1.5h-3.5Zm6.854 0a.75.75 0 0 0 0 1.5h1.793L7.22 8.677a.75.75 0 1 0 1.06 1.061L13.5 4.518V6.25a.75.75 0 0 0 1.5 0v-3.5A.75.75 0 0 0 14.25 2h-3.646Z'/%3E%3C/svg%3E")
        transition-property: background-color, background
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        transition-duration: 0.15s

  .lc-card-title
    margin-bottom: 0.45rem
    color: var(--tw-prose-headings)
    font-size: 1.05rem
    font-weight: bold
    line-height: 1.5rem
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical

  .lc-description
    margin-bottom: 0
    color: var(--tw-prose-body)
    font-size: 1rem
    font-weight: 300
    line-height: 1.5rem
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical

  .lc-image
    margin-top: 0.85rem
    border-radius: 0.5rem
    overflow: hidden

    img
      display: block
      width: 100%
      max-height: 14rem
      object-fit: cover
      border-radius: 0.5rem

a.card-link.fetch-waiting
  pointer-events: none
  opacity: 0.7
  transition: opacity 0.15s ease-in-out

  .lc-card-title, .lc-description, .lc-favicon
    background-color: var(--tw-prose-body)
    color: transparent
    opacity: 0.5
    animation: pulsate 2s infinite linear
    user-select: none

  .lc-card-title, .lc-description
    border-radius: 0.5rem

  .lc-favicon
    background-image: none !important
    background-color: transparent

a.card-link.fetch-error
  pointer-events: all
  opacity: 1

.card-link, .lc-description, .lc-card-title, .lc-titlebar, .lc-favicon, .lc-external-icon
  transition-property: all
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration: 0.15s
